
<div class="container mt-5">
  <form enctype="multipart/form-data" name="uploadForm">
    <div class="row">

      <div class="col">
        <label>Text:</label>
        <input type="text" name="text" required class="form-control"><br>
      </div>
      <div class="col">
        <label>Content:</label>
        <input type="file" name="image" (change)="fileChanged($event)" required class="form-control" accept="image/*, video/*" >
      </div>

      <div class="col">

<!--        <button color="primary" class="" [ngClass]="fileName ? 'btn btn-primary' : 'btn btn-primary disabled' "-->
<!--                (click)="uploadImage()">-->
<!--          {{fileName || "Keines Ausgewählt"}}-->
<!--          <mat-icon>file_upload</mat-icon>-->
<!--        </button>-->
        <button class="btn btn-primary mt-3" (click)="uploadImage()">Create Example</button>
      </div>
    </div>
  </form>
</div>
