<!--
<nav class="navbar" style="background-color: #e3f2fd;">

</nav>
-->

<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background: #f0f0f0">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Phomo</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="user">Benutzer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pictures">Fotos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="upload">Upload</a>
        </li>
      </ul>
    </div>

    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn" type="submit">Search</button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>
